.App {
    background: fixed;
}

.left {
    background-color: #4fa0cb;
    width: 20%;
    height: inherit;
    border-radius: 10px;
}

.right {
    background-color: #f1ecec;
    width: 75%;
    height: 75%;
    border-radius: 10px;
}

section {
    display: flex;
    -webkit-justify-content: space-around;
}
