.navBar-L {
    background: rgb(96, 79, 156);
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.navBar {
    display: flex;
    justify-content: space-between;
}

.Logo {
    display: flex;
    justify-content: right;
    margin: 0.1%;
    border-radius: 10px;
}

.img {
    margin: 50%;
    width: 70px
}

.btn-d {
    margin-left: 60px;
    display: flex;
    justify-content: center;
}

.btn {
    color: #ffffff;
    font-family: Roboto, ui-rounded;
    font-size: 12px;
    font-kerning: initial;
    background: #591980;
    border-radius: 400px;
}

.img {
    display: flex;
    justify-content: center;
}

.about {
    width: 80%;
    height: 10%;
}

.card {
    display: grid;
    justify-content: center;


}
