.navBar-L {
    background: rgb(241, 236, 236);
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.navBar {
    display: flex;
    justify-content: space-between;
}

.Logo {
    display: flex;
    justify-content: right;
    margin: 0.1%;
    border-radius: 10px;
}

.img {
    margin: 50%;
    width: 70px
}

.btn-d {
    margin-left: 60px;
    display: flex;
    justify-content: center;
}

.btn {
    color: aliceblue;
    margin: 90%;
    top: 25%;
    height: 30px;
    font-family: Roboto, ui-rounded;
    font-size: 12px;
    font-kerning: initial;
}
